<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
 -->

 <div id="my-slideshow">
	<ul class="bjqs">
		<li><!-- Any content you like -->sdvd</li>
		<li><!-- Can go inside these slides-->wrsgwr</li>
	</ul>
</div>